{% extends "base.html" %}

{% load bootstrap3 %}


{% block content %}
<div class="content-row">
    <div class="left-col">

        <form action="{% url 'forum:edit_solution' solution_id rev_val %}" method="post" class="form">
            {% csrf_token %}
                {% block revisions %}{% endblock revisions %}
                {% bootstrap_field body show_label=False %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                Save Changes
                </button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock content %}