.content-container {
    background-color: @bg-color;
    .content {
        .make-row();
        margin: 30px 10px;
        background-color: @bg-color;
        .mainbar {
            background-color: white;
            .make-sm-column(10);
            .make-sm-column-offset(1);
            .make-md-column(6);
            .make-md-column-offset(1.75);
            @media (min-with: @screen-md-min) {

            }
            .title {
                .make-row();
                font-family: 'Roboto Condensed', sans-serif;
                color: white;
                .title-col {
                    .make-xs-column(12);
                    background-color: @bg-color;
                }
            }
            .areas {
                .areas-col {

                }
            }
            .bound-row {
                .make-row();
                .hidden-md();
                .hidden-lg();
                .bound {
                    background-color: @bg-color;
                    .make-xs-column(12);
                    padding: 0 0 5px 0;
                    margin-bottom: 0;
                    .panel-heading {
                        padding: 4px 15px;
                        h4 {
                            color: #999;
                            font-family: 'Roboto Condensed', sans-serif;
                            a {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
            .pa {
                .make-row();
                border-bottom: 1px solid black;
                margin-top: 0px;
                background-color: @bg-color;

                .points {
                    .make-xs-column(2);
                    background-color: white;
                    border-top-left-radius: @br;
                    position: relative;
                    // .total-points {
                    //     margin: 10px 0 10px;
                    // }
                    // .glyphicon-plus {
                    //     color: green;
                    //     top: 0;
                    //     right: 40px;
                    // }
                    // .glyphicon-minus {
                    //     color: red;
                    //     top: 8px;
                    //     right: 40px;
                    // }
                }
                .author {
                    .make-xs-column(10);
                    text-align: right;
                    background-color: white;
                    border-top-right-radius: @br;
                }
            }
            .problem {
                .make-row();
                .problem-col {
                    .make-xs-column(12);
                    .field-name {
                        font-family: 'Roboto Condensed', sans-serif;
                        @media(min-width: @screen-sm-min) {
                            margin-left: 10px;
                        }
                    }
                    .alighned-content {
                        margin-left: 30px;
                        @media(min-width: @screen-sm-min) {
                            margin-left: 50px;
                        }
                        .well();
                        .well-sm();
                    }
                }
            }
            .actions {
                .make-row();
                background-color: @bg-color;
                .actions-col {
                    .make-xs-column(12);
                    background-color: white;
                    border-radius: 0 0 @br @br;
                    text-align: right;
                    font-size: 13px;
                    padding-bottom: 5px;
                    a {
                        color: #999;
                        text-decoration: none;
                        &:hover {
                            color: darken(#999, 30%);
                        }
                    }
                }
            }
            .solutions-count {
                background-color: @bg-color;
                margin: 0 -15px 0;
                h3 {
                    color: white;
                    font-family: 'Roboto Condensed', sans-serif;
                    font-size: 18px;
                    margin: 0;
                    padding: 20px 0 10px 15px;
                }
            }
            .solutions {
                background-color: @bg-color;
                .make-row();
                .solutions-col {
                    background-color: white;
                    border-radius: @br;
                    .make-xs-column(12);
                    .sol-body {
                        padding: 10px 0;
                    }
                }
            }

            form {
                background-color: @bg-color;
                padding-top: 30px;
                margin: 0 -15px 0;
                .form-control {
                    border-radius: @br;
                }
                .form-group:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
        .sidebar {
            .visible-md-block();
            .visible-lg-block();
            .make-md-column(2.5);
            background-color: @bg-color;
            padding-right: 0;
            .bound-side {
                background-color: white;
                border-radius: @br;
                padding: 0 15px 15px 15px;
                margin-top: 56.4px;
                .bound-goal-side {
                    padding-top: 10px;
                    h4 {
                        margin-top: 0;
                    }
                }
                hr {
                    margin-bottom: 0;
                }
                .bound-problems-side {
                    h4 {
                        margin-top: 10px;
                    }
                }
                h4 {
                    font-family: 'Roboto Condensed', sans-serif;
                }


            }

        }
    }
}
