.content {
    #progress-bar {
        .make-xs-column(12);
    }
    #left-col {
        .make-xs-column(4);
    }
    #center-col {
        .make-xs-column(4);
    }
    #right-col {
        .make-xs-column(4);
    }
}