{% extends "base.html" %}

{% load bootstrap3 %}


{% block content %}
<div class="content-row">
    <div class="left-col">

        {% block form_action %}
        {% endblock form_action %}
            {% csrf_token %}
                {% block revisions %}{% endblock revisions %}
                {% bootstrap_field goal show_label=False layout='horizontal' %}
                <ul id="found-goals">

                </ul>
                {% bootstrap_field title show_label=False %}
                {% bootstrap_field description show_label=False  %}
                {% bootstrap_field source show_label=False  %}
                {% bootstrap_field curr_solution show_label=False  %}
                {% bootstrap_field lim_curr_solution show_label=False  %}
                {% bootstrap_field attempts show_label=False  %}
                {% bootstrap_field specific_goal show_label=False  %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% block button %}
                    {% endblock button %}
                </button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock content %}