{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}


{% block content %}
<div class="content">
    <div class="mainbar">
        <div class="title">
            <div class="title-col">
                <h3>{{ problem.title }}</h3>
            </div>
        </div>
        <div class="areas">
            <div class="areas-col">
            </div>
        </div>
        <div class="bound-row">
            <div class="bound panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="bound-goal panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Bound Goal
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <ul class="list-group">
                    <li class="list-group-item"><a href="{% url 'forum:goal' problem.goal.id %}">{{ problem.goal }}</a></li>
                  </ul>
                </div>
              </div>
              <div class="bound-problems panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Bound Problems
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <ul class="list-group">
                        {% for p in related_problems %}
                            <li class="list-group-item"><a href="{% url 'forum:thread' p.id %}">{{ p.title }}</a></li>
                        {% endfor %}
                  </ul>
                </div>
              </div>
            </div> <!-- .bound -->
        </div>
        <div class="pa">
            <div class="points">
                <span class="total-points">{{ problem.points }}</span>
                {# <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> #}
                {# <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> #}
            </div>
            <div class="author">
                <span>{{ problem.author }}</span>
            </div>
        </div>
        <div class="problem">
            <div class="problem-col">
                <h4 class="field-name">Description:</h4>
                <div class="alighned-content">
                    {{ problem.description}}
                </div>
                <h4 class="field-name">Source:</h4>
                <div class="alighned-content">
                    {{ problem.source|default:"---"}}
                </div>
                <h4 class="field-name">Current Solution:</h4>
                <div class="alighned-content">
                    {{ problem.curr_solution|default:"---"}}
                </div>
                <h4 class="field-name">Limitations of Current Solution:</h4>
                <div class="alighned-content">
                    {{ problem.lim_curr_solution|default:"---"}}
                </div>
                <h4 class="field-name">Attempts to Solve The Problem:</h4>
                <div class="alighned-content">
                    {{ problem.attempts|default:"---"}}
                </div>
                <h4 class="field-name">Specific Goal:</h4>
                <div class="alighned-content">
                    {{ problem.specific_goal|default:"---"}}
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="actions-col">
                <a href="{% url 'forum:edit_problem' problem.id rev_val %}">Edit</a> Share
            </div>
        </div>
        {% if problem_questions %}
            <div class="question">
                <div class="question-col">
                    {% for question in problem_questions %}
                        {{ question.body }}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <form action="{% url 'forum:question' problem.id 1 %}" method="post" class="form">
                {% csrf_token %}
                    {% bootstrap_field pq_body show_label=False layout='horizontal' %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                    Ask a clarifying question or suggest an improvement.
                    </button>
                {% endbuttons %}
            </form>
        {% endif %}

        {% if solutions.count > 0 %}
            <div class="solutions-count"><h3>{{ solutions.count }} Solution{{ solutions.count|pluralize }}</h3></div>
            <div class="solutions">
                <div class="solutions-col">
                        {% for solution in solutions %}
                            <div class="pa">
                                <div class="points">
                                    <p>{{ solution.points }}</p>
                                </div>
                                <div class="author">
                                    <p>{{ solution.author }}</p>
                                </div>
                            </div>
                            <p class="sol-body">{{ solution.body }}</p>
                            <div class="actions">
                                <div class="actions-col">
                                    <a href="{% url 'forum:edit_solution' solution.id rev_val %}">Edit</a> Share
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            </div>
        {% endif %}


        <form action="{% url 'forum:thread' problem.id %}" method="post" class="form">
            {% csrf_token %}
                {% bootstrap_field body show_label=False layout='horizontal' %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                Post Solution
                </button>
            {% endbuttons %}
        </form>


    </div> <!-- .mainbar -->
    <div class="sidebar">
        <div class="bound-side">
            <div class="bound-goal-side">
                <h4>Bound Goal</h4>
                <a href="{% url 'forum:goal' problem.goal.id %}">{{ problem.goal }}</a>
            </div>
            <hr>
            <div class="bound-problems-side">
                <h4>Bound Problems</h4>
                {% for p in related_problems %}
                    <a href="{% url 'forum:thread' p.id %}">{{ p.title }}</a>
                {% endfor %}

            </div>
        </div>
    </div> <!-- .sidebar -->
</div>

{% endblock content %}

<!-- http://www.bootply.com/7q3q5hRQRZ -->