{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}


{% block content %}
<div class="index-content">
    <div class="main">
        <div id="header"></div>
        {% for problem in problems %}
            <a href="{% url 'forum:thread' problem.id %}">{{ problem.title }}</a>
            <hr>
        {% endfor %}
    </div>
</div>

{% endblock content %}