{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}


{% block content %}
<div class="content">
    <div id="progress-bar"></div>
    <div id="left-col">Здесь будет левая колонка информации</div>
    <div id="center-col">Здесь будет фото и не знаю еще что</div>
    <div id="right-col">Здесь будет правая колонка информации</div>
</div>

{% endblock content %}