{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}


{% block content %}

<div>
    <p>{{ goal.title }}</p>
    <hr>
    {{ goal.description }}
    {{ goal.targets }}
    {{ goal.achievements }}
</div>

{% endblock content %}