{% extends "base.html" %}

{% load bootstrap3 %}


{% block content %}
<div class="content-row">
    <div class="left-col">

        {% block form_action %}
        {% endblock form_action %}
            {% csrf_token %}
                {% block revisions %}{% endblock revisions %}
                {% bootstrap_field title show_label=False %}
                {% bootstrap_field description show_label=False %}
                {% bootstrap_field targets show_label=False %}
                {% bootstrap_field achievements show_label=False %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% block button %}
                    {% endblock button %}
                </button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock content %}